<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="bdsaidEntities2" providerName="System.Data.SqlClient" connectionString="Server=localhost\SQLEXPRESS01;                            Database=bdsaid;                            Integrated Security=True;                            MultipleActiveResultSets=True;" />
	<add name="bdsaidEntities2" connectionString="metadata=res://*/BBDD.BdsaidModel.csdl|res://*/BBDD.BdsaidModel.ssdl|res://*/BBDD.BdsaidModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS01;initial catalog=bdsaid;integrated security=True;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
