<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="8.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="SMA.Tools4.Client.Core" version="4.6.0.2" targetFramework="net472" />
  <package id="SMA.Tools4.Client.DataSource" version="4.6.0.2" targetFramework="net472" />
  <package id="SMA.Tools4.Common.Core" version="4.6.0.2" targetFramework="net472" />
  <package id="SMA.Tools4.Common.DataSource" version="4.6.0.2" targetFramework="net472" />
  <package id="SMA.Tools4.Server.Core.Service" version="4.6.0.2" targetFramework="net472" />
</packages>